# Generated manually for the small first release
useDynLib(hsmm, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, simulate)

export(fit_hsmm)
export(simulate_hsmm)

S3method(plot,hsmm_fit)
S3method(plot,hsmm_simulation)
S3method(predict,hsmm_fit)
S3method(print,hsmm_fit)
S3method(print,hsmm_simulation)
S3method(print,summary.hsmm_fit)
S3method(simulate,hsmm_fit)
S3method(summary,hsmm_fit)
